# Serveur
PORT=4000
SOCKET_PORT=3001
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# PostgreSQL (base locale de développement dédiée)
DATABASE_URL=postgresql://neobank:mot_de_passe@localhost:5432/neobank

# JWT
JWT_SECRET=change_this_super_secret_key_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_other_secret_key_in_production
JWT_REFRESH_EXPIRES_IN=7d

# Chiffrement AES-256-GCM (32 octets en hex = 64 caractères)
ENCRYPTION_KEY=932b22fd70256c5e6199a6310c65b89823a9f4e8751f17d6410366bea0fe143b

# OTP / 2FA
OTP_ISSUER=NeoBank
